* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  overflow: hidden;
  margin: 0;
  background: #99cc99;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  padding: 10px;
  height: 85vh;
  border-radius: 10px;
  margin: -5px;
  cursor: pointer;
  color: #cc3366;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 800ms;
  border: 3px outset transparent;
}

.slide h3 {
  position: absolute;
  font-size: 50px;
  bottom: 50px;
  left: 50px;
  margin: 0;
  opacity: 0;
  font-family: 'Italianno', cursive;
}

.slide.active {
  flex: 10;
  border: 3px outset #cc3366;
}

.slide.active h3 {
  opacity: 0.7;
  transition: opacity 0.2s ease 0.8s;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
